// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-title {
  
}
.card-block {
  padding: 15px;
}
.title {
  font-family: 'Sans';
  font-weight: bold;
}
.card-admin {
  border: 2px solid #e34a3e;
  border-radius: 5px;
  margin: auto;
  width: 50%; 
}

.blocked-user {
  background-color: #ff1834;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  color: white;
  font-family: 'Sans';
  font-weight: bold;
}

.unblocked-user {
  border: 2px solid #e34a3e;  
  border-radius: 5px;
  margin: auto;
  width: 50%;  
  font-family: 'Sans';
  font-weight: bold;
}